
*{
    box-sizing: border-box;
}






.grid {
    display: grid;
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    grid-template-columns: auto repeat(2,1fr) auto ;
    gap: 10px 10px;
    grid-template-rows: repeat(1,1fr) auto;

    
  }

.grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #403F3F;
    color: white;
    font-weight: bolder;

}
