
*{
    box-sizing: border-box;
}
.parent{
    width: 550px;
    background-color: green;
    margin: auto;
    position: relative;
}

.parent::after{
    content: "";
    width: 2px;
    margin: 5px;
    height: 275px;
    background-color: #03A9F4;
    float: left;
    top: 8px;
    right: 274px;
    z-index: -1;
    position: absolute;

}
.parent::before{
    content: "Or";
    width: 20px;
    padding: 2px;
    right: 267px;
    top: 137.5px;
    border-radius: 10px;
    background-color:#03A9F4 ;
    color: white;
   
    z-index: 100;
    position: absolute;
}

.card{
    background-color: #eee;
    border-radius:20px ;
    height: 275px;
    width: 240px;
    float: left;
    margin: 15px;
    
    position: relative;
}



.card-text{
    border-radius:10px ;
    width: 200px;
    padding: 15px;
    margin: 30px;
    right: -10px;

    color: white;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    background-color: #03A9F4;
    position: absolute;

}

.circle-payment{

    width: 150px;
    height: 150px;
    padding: 50px;
    margin: 30px;
    left: 15px;
    right: 30px;
    bottom: 5px;
    border-radius: 75px;
    font-size: xx-large;
    text-align: center;
    background-color: #DDDDDD;
    font-weight: bold;
    position: absolute;


}
