* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-top: 100px;
}
#calc-sect {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
}

.calculator header {
  background-color: black;
  color: #fff;
  min-height: 50px;
  width: 65%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: xx-large;
  font-weight: 600;
  padding: 0px 20px;
}
#calc-sect div {
  width: 30%;
  margin-top: 20px;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  font-size: xx-large;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calc-sect div:hover {
  cursor: pointer;
}
